//
// FAQ section styling
//

#faq {
    background: url("/assets/img/faq/background.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    .subheading {
        font-family: HackBold;
    }
}
