//
// Masthead section styling
//

header.masthead {
    padding-top: 6rem + 4.5rem;
    padding-bottom: 6rem;
    background-image: url("/assets/img/masthead/background.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    .masthead-subheading {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: HackBold;
    }

    .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        color: $phosphor-green;
    }

    .masthead-giphy {
        width: 75%;
        height: auto;
    }

    #why-section {
        color: $phosphor-green;
    }

    .mint-btn {
        max-width: 65%;
    }

    .welcome {
        color: $green;
    }

    .pitch {
        font-family: HackBold;
    }
}

@include media-breakpoint-up(md) {
    header.masthead {
        padding-top: 6rem + 4.5rem;
        padding-bottom: 6rem;

        .masthead-subheading {
            font-size: 2.25rem;
            line-height: 2.25rem;
            margin-bottom: 2rem;
            font-family: HackBold;
        }

        .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 4rem;
            color: $phosphor-green;
        }
    }
}
