//
// Roadmap section styling
//

#roadmap {
    background-image: url("/assets/img/roadmap/background.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
