doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Dragon Street

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Page loading
        #loading.d-flex.justify-content-center.align-items-center
            img.rounded-circle.img-fluid(src='assets/img/loading.gif', alt='Loading gif')

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container.px-4
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/navbar-logo.png', alt='Dragon Street')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse.justify-content-between
                    ul.navbar-nav.text-uppercase.mr-auto
                        li.nav-item
                            a.nav-link(href='#masthead') Features
                        li.nav-item
                            a.nav-link(href='#rarity') Rarity
                        li.nav-item
                            a.nav-link(href='#roadmap') Roadmap
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#faq') FAQ
                    .my-3.my-lg-0
                        a.btn.btn-default.btn-social(href='https://twitter.com/DragonStreetNFT', target='_blank')
                            i.fab.fa-twitter
                        a.btn.btn-default.btn-social(href='https://discord.gg/4jsvQ6NQ', target='_blank')
                            i.fab.fa-discord
                        a.btn.btn-default.btn-social(href='https://www.instagram.com/dragonstreetnft', target='_blank')
                            i.fab.fa-instagram
        // Masthead
        header#masthead.masthead
            .container
                .row.justify-content-end.mb-4
                    .col-md-4.col-sm-12.welcome
                        .masthead-subheading.text-uppercase Welcome To
                        img.img-fluid.mb-4(src='assets/img/masthead/welcome-logo.png', alt='Welcome')
                        p.text.pitch Brogons NFT collection of 10,000 randomly generated dragons wilding out in the streets of Ethereum Blockchain.
                        button.btn.btn-default.btn-cta(type='button', id='ctaButton') Connect your wallet
                            //- img.img-fluid.mint-btn(src='assets/img/masthead/button-mint.png', alt='Mint')
                        a.btn.btn-default.btn-cta(id='downloadMetamask', href='https://metamask.io/download', target='_blank', hidden=true) Please install Metamask
                    .col-md-6.col-sm-12.d-flex.justify-content-center.mt-4
                        .masthead-giphy
                            img.img-fluid(src='assets/img/masthead/dragon.gif', alt='Dragon gif')
                #why-section.row.justify-content-center.p-5
                        .col-md-8.text-center
                            img.img-fluid.mb-4(src='assets/img/masthead/why-header.png', alt='Why')
                            p.text Aside from having the coolest avatar on the internet,
                            p.text When you join our community, our members have the ability to quickly access upcoming projects and participate in various exclusive giveaways for current and upcoming projects.
                            p.text
                                | We want to be more than just an NFT collection. Our goal is to create a long-term, community-oriented brand that benefits everyone as we grow.
                                | We will be reaching out to potential collaborators, influencers, and projects to continue to grow our metaverse and community while developing new Dragon Street brand projects.
                            p.text Join us and let us walk these streets together!

        // Rarity
        section#rarity.page-section.p-0
            .row
                each val in [1, 2, 3, 4, 5, 6]
                    .col.px-0
                        img.img-fluid(src='assets/img/rarity/' + val + '.png', alt='Rarity Bragon item')
            .container.my-5
                .row
                    .col-md-4
                    .col-md-8.rarity-header
                        img.img-fluid.mb-2(src='assets/img/rarity/header.png', alt='Rarity')
                .row
                    .d-flex.col-12.col-md-4.justify-content-center
                        .rarity-question
                            img.img-fluid.my-auto(src='assets/img/rarity/unknown.png', alt='Rarity question mark')
                    .col-12.col-md-8
                        p.text Brogons are created through a random algorithm that ensures each brogon is unique and different from the others, as each reflects its own personality.
                        p.text It is no surprise that these dragons that roam the streets do so in their fashionable, vibrant outfits. Every Brogon is cool AF, but some possess very rare traits that set them apart from the rest. After all, not every dragon shoots rays from its eyes or has fur made of gold. And there are even more rare traits!
                        p.text There will also be special 1/1 editions of Brogons!
                        p.text We will be supported by Rarity Tools & Rarity Sniper post drop (see Roadmap).
            .row
                each val in [7, 8, 9, 10, 11, 12]
                    .col.px-0
                        img.img-fluid(src='assets/img/rarity/' + val + '.png', alt='Rarity Bragon item')

        // Roadmap
        section#roadmap.page-section
            .container
                .text-center.mb-4
                    img.img-fluid(src='assets/img/roadmap/header.png', alt='Roadmap')
                .row.mb-2
                    .col-4.col-md-2.text-end
                        img.img-fluid(src='assets/img/roadmap/10.png', alt='Roadmap 10')
                    .col-8.col-md-10
                        h4.subheading Monthly Giveaway Contests
                        p.text
                            | 10 Brogon owners have a chance to win a free Brogon each month.
                            br
                            | Through raffles & competitions.
                .row.mb-2
                    .col-4.col-md-2.text-end
                        img.img-fluid(src='assets/img/roadmap/20.png', alt='Roadmap 20')
                    .col-8.col-md-10
                        h4.subheading Rarity Takeover
                        p.text Brogons will be submitted to Rarity Sniper and Rarity Tools.
                .row.mb-2
                    .col-4.col-md-2.text-end
                        img.img-fluid(src='assets/img/roadmap/40.png', alt='Roadmap 40')
                    .col-8.col-md-10
                        h4.subheading Big Raffle
                        p.text A grand raffle will be held on our Discord server to recognize some of the most active Brogon holders for their contributions to the community.
                .row.mb-2
                    .col-4.col-md-2.text-end
                        img.img-fluid(src='assets/img/roadmap/60.png', alt='Roadmap 60')
                    .col-8.col-md-10
                        h4.subheading Donation
                        p.text We will be donating 2.5% of sales to an animal charity chosen by the votes of our community.
                .row.mb-2
                    .col-4.col-md-2.text-end
                        img.img-fluid(src='assets/img/roadmap/80.png', alt='Roadmap 80')
                    .col-8.col-md-10
                        h4.subheading Merch Store & Drops
                        p.text Time to celebrate! 100 Discord members will receive a physical merch drop from the upcoming Dragon Street Merch Store.
                .row.mb-2
                    .col-4.col-md-2.text-end
                        img.img-fluid(src='assets/img/roadmap/100.png', alt='Roadmap 100')
                    .col-8.col-md-10
                        h4.subheading Giveaways From The Upcoming Project
                        p.text We are giving away 500 giveaways to 500 Brogon holders for the upcoming Dragon Street NFT project.
                #team.row.mt-4
                    .container
                        .text-center.mb-4
                            img.img-fluid(src='assets/img/team/header.png', alt='Team')
                        .row.text-center
                            .col-md-4
                                .team-member
                                    img.mx-auto.img-fluid(src='assets/img/team/soth.png', alt='Team Member 1')
                                    .member-info-1.mt-3
                                        h4 soth
                                        p.text art director
                            .col-md-4
                                .team-member
                                    img.mx-auto.img-fluid(src='assets/img/team/hix.png', alt='Team Member 2')
                                    .member-info-2.mt-3
                                        h4 hix
                                        p.text creative director
                            .col-md-4
                                .team-member
                                    img.mx-auto.img-fluid(src='assets/img/team/beck.png', alt='Team Member 3')
                                    .member-info-3.mt-3
                                        h4 beck
                                        p.text tech dev

        // FAQ
        section#faq.page-section
            .container.text-center
                .mb-4
                    img.img-fluid(src='assets/img/faq/header.png', alt='Roadmap')
                .row.mb-2
                    .col-md-12
                        h4.subheading What is Dragon Street?
                        p.text
                            | Dragon Street is the main brand from which our projects will be derived.
                            | Geographically, however, there is not only one Dragon Street, but every street where the members of our community live is itself a Dragon Street.
                .row.mb-2
                    .col-md-12
                        h4.subheading What are Brogons?
                        p.text
                            | Brogons are the first NFT collection of the Dragon Street team.
                            | They are friendly but fierce dragons that reside in Dragon Street.
                            | Brogons are here to change the mood and bring crazy fun to the streets that they feel are underused by humanity.
                .row.mb-2
                    .col-md-12
                        h4.subheading When is the launch date?
                        p.text
                            | We plan to launch the project in February. Stay tuned to our website,
                            | Twitter, Discord and Instagram for the exact dates of the pre-sale and official launch.
                .row.mb-2
                    .col-md-12
                        h4.subheading What will the mint price be?
                        p.text Not yet determined.
                .row.mb-2
                    .col-md-12
                        h4.subheading How many will there be?
                        p.text
                            | There will be 10,000 programmatically generated brogons for you to mint.
                            | Each Brogon is a unique dragon created from over 190 features.
                .row.mb-2
                    .col-md-12
                        h4.subheading What blockchain will it run on?
                        p.text Ethereum.
                .row.mb-2
                    .col-md-12
                        h4.subheading What are the future plans for the collection?
                        p.text
                            | Our main goal is to become a blockchain brand that has a defined, unique esthetic and a strong community.
                            | Plans for new art collections and a merchandise store are in the works, but that's not all.
                            | We can not wait to collaborate with our community and take new directions that meet our community's desires.

        // Footer
        footer.footer.py-4
            .container.text-center
                .row.mt-3
                    .col-md-12
                        img.img-fluid.mt-4.logo-end(src='assets/img/footer/logo-end.png', alt='Logo footer')
                .row.mt-3
                    .col-md-4.mt-3
                        a.btn.btn-lg.btn-purple.text-uppercase(href='https://twitter.com/DragonStreetNFT', target='_blank')
                            | Join our Twitter
                    .col-md-4.mt-3
                        a.btn.btn-lg.btn-green.text-uppercase(href='https://discord.gg/4jsvQ6NQ', target='_blank')
                            | Join our Discord
                    .col-md-4.mt-3
                        a.btn.btn-lg.btn-red.text-uppercase(href='https://www.instagram.com/dragonstreetnft', target='_blank')
                            | Join our Instagram

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Google Analytics
        script(src='https://www.googletagmanager.com/gtag/js?id=G-4DMD7JWB8S', async)

        // Core theme JS
        script(src='js/scripts.js')
