//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;
$logo-purple: #6449d6;
$skate-red: #f6304c;
$duck-green: #2b6e6d;
$alt-grey: #343535;
$phosphor-green: #0af209;

// Override Bootstrap state colors variables

$primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
