//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;
$logo-purple: #6449d6;
$skate-red: #f6304c;
$duck-green: #2b6e6d;
$alt-grey: #343535;
$phosphor-green: #0af209;
$social-blue: #0288d1;
$white: #ffffff;
$green: #00ff00;
$purple: #9d61ff;
$magenta: #dc05f4;
$alt-green: #72ff9e;

// Override Bootstrap state colors variables

$primary: $magenta;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
