//
// Typography
//

@font-face {
    font-family: FuturaPTBold;
    src: url("/assets/fonts/futurapt-bold.otf");
}

@font-face {
    font-family: HackBold;
    src: url("/assets/fonts/hack-bold.ttf");
}

@font-face {
    font-family: HackRegular;
    src: url("/assets/fonts/hack-regular.ttf");
}

$headings-font-weight: 700;
$headings-letter-spacing: 0.0625em;

// Override default Bootstrap line height variables

$line-height-lg: 1.75;

$font-size-base: 1.2rem;
